.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__icon {
  display: flex;
  justify-content: center;
  background-color: var(--bc-color-light);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
}

.advantages__name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages__description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
